<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAge() + ', ' + book.getWriter()}">VALUE</p>
<p th:text="${book.getBook_id()}">VALUE</p>



<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})" th:object="${person}">
    <label for="person">Выберите держателя клиги:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.gerId()}"
                th:text="${person.getFullName()}"></option>
    </select>

</form>
</body>
</html>
