<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAge() + ', ' + book.getWriter()}">VALUE</p>
<p th:text="${book.getBook_id()}">VALUE</p>

<a th:href="@{/books/{book_id}/edit(book_id=${book.getBook_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>